
  header {
    display: flex;

    justify-content: space-between;
    align-items: center;
    
  }

  main {
    display: flex;
    
    
    justify-content: space-between;
   


  }

  section, aside, footer{
    margin-top:50px;
    display: block;
     background: #f0f0f0;
     border: 2px solid black;
 
  

  
   
  }
body {
    display:block;
    margin: 10%;
    margin-top:5%;
    

}
  section {
    height:500px;
    flex-grow: 2;
  }

  aside {
    height:500px;
    flex-grow: 1; /* or whatever size you want */
  }

  footer {
    width: 100%;
    height:100px;
     margin-top:0px;
  }
  h1,p,span,a{
    margin-left: 10px;
    font-family: fantasy;
  }
  span{
    font-size: larger;
  }